#directory struc
#
#
#CobaltRCX

CobaltRCX/Data2/*.csv
CobaltRCX/Logs/*.csv
CobaltRCX/LoadSQL
CobaltRCX/Sql/*.sql
CobaltRCX/Sql/*.csv
CobaltRCX/Data/*.csv
CobaltRCX/Py/Data/

#
CobaltRCX_
#
CobaltRCXbk
#
#fresh
#
#
#CobaltRCXstorage/DataOSyms/*.txt
#CobaltRCXstorage/DataOVol/*.csv
#CobaltRCXstorage/DataP/*.csv  
#CobaltRCXstorage/DataSymbols/*.csv
#CobaltRCXstorage/DataSymbols2/*.csv
#CobaltRCXstorage/DataSymbols3/*.csv
#CobaltRCXstorage/DataTSR/*.csv
#CobaltRCXstorage/TSS1/*.csv
#CobaltRCXstorage/TSS2/*.csv
#CobaltRCXstorage/DataP/*.csv
#CobaltRCXstorage/DataMLx/*.json
#CobaltRCXstorage/DataHalts/*.csv

#
CobaltRCXstore/DataCompany/*.csv
CobaltRCXstore/DataOSyms/*.txt
CobaltRCXstore/DataOVol/*.csv
CobaltRCXstore/DataP/*.csv  
CobaltRCXstore/DataSymbols/*.csv
CobaltRCXstore/DataSymbols2/*.csv
CobaltRCXstore/DataSymbols2a/*.csv
CobaltRCXstore/DataSymbols2g/*.csv
CobaltRCXstore/DataSymbols2y/*.csv
CobaltRCXstore/DataSymbols3/*.csv
CobaltRCXstore/DataSymbols4/*.csv
CobaltRCXstore/DataSymbols42nd/*.csv
CobaltRCXstore/DataSymbols43rd/*.csv
CobaltRCXstore/DataSymbols44th/*.csv
CobaltRCXstore/DataSymbols44th/*.csv
CobaltRCXstore/DataTSR/*.csv
CobaltRCXstore/TSS1/*.csv
CobaltRCXstore/TSS2/*.csv
CobaltRCXstore/DataP/*.csv
CobaltRCXstore/DataMLx/*.json
CobaltRCXstore/DataMLx/*.csv
#CobaltRCXstore/DataHalts/*.csv
#CobaltRCXstore/DataTick/*.csv
#CobaltRCXstore/DataPriceRef/*.*
#Data
#
#driz
driz/.git 
driz/node_modules

driz_bmV2/*
driz_bmV2/node_modules

#
#Drizzle
Drizzle/xoldStuff
Drizzle/js
Drizzle/reset


Goblet/

Goblet/bin
Goblet/pkg
Goblet/src


#
Repo
Repo/Notebook
Repo/pandas-tut
Repo/PyFin
Repo/PyStor

#
Mochino/*.csv
Mochino/*.json
Mochino/*.pkl
Mochino/research/*.csv
Mochino/dirbcloz/data/
Mochino/dataNew/
Mochino/explore/
Mochino/.ipynb_checkpoints  #/#checkpoint.ipynb
Mochino/.ipynb_checkpoints/*.ipynb


MochinoLab/*.csv
MochinoLab/*.json
MochinoLab/*.pkl
MochinoLab/dirbcloz/data/
MochinoLab/dataNew/
MochinoLab/datadataexplore/
MochinoLab/datadataexplore2/
MochinoLab/datadataexplore2/*
MochinoLab/NewTF/
MochinoLab/NewTF/*
MochinoLab/.ipynb_checkpoints/*checkpoint.ipynb
MochinoLab/.ipynb_checkpoints/*.ipynb

MochinoViz/*.csv
MochinoViz2/
MochinoViz2/*.csv
MochinoViz2/daily/*.csv

Quizzle/qmac
Quizzle/Workshop
Quizzle/cookbook-master
Quizzle/smartmeterDB
Quizzle/dataOnDisk



#.ipynb_checkpoints
#*/.ipynb_checkpoints/*

.ipynb_checkpoints

*.png

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.pyc


# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
# Logs and databases #
######################
*.log
*.sql
*.sqlite
*.pkl
*.rdb
*.csv



# OS generated files #
######################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

*.sublime-project
*.sublime-workspace

# Jupyter Notebook
.ipynb_checkpoints
# dotenv
.env
.vscode


# virtualenv
.venv
venv/
ENV/